.MainPage{
    margin: 0;
    display: flex;
    border: 1px solid black;
    color: white;
    justify-Content: center;
    height: 100vh;
    overflow: hidden;
    bottom: 0;
    align-Items: center;
    background: linear-gradient(181deg, #1db954, #000000);
    background-size: 400% 400%;

    -webkit-animation: BgGradient 15s ease infinite;
    -moz-animation: BgGradient 15s ease infinite;
    animation: BgGradient 15s ease infinite;
}

@media only screen and (max-width: 576px) {
    .MainPage{
        height: 1000px;
    }
}

@media only screen and (max-width: 768px) {
    .MainPage{
        height: 1000px;
    }
}

@-webkit-keyframes BgGradient {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-moz-keyframes BgGradient {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@keyframes BgGradient {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
